# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [1]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [15]:
after = a.capitalize()
print(a)
print(after)

hI! Everyone, I'm kim
Hi! everyone, i'm kim

In [16]:
title = a.title()
print(a)
print(title)

hI! Everyone, I'm kim
Hi! Everyone, I'M Kim

In [18]:
upper = a.upper()
print(a)
print(upper)

hI! Everyone, I'm kim
HI! EVERYONE, I'M KIM

In [14]:
def hello():
    return ('hello')
hello()
# 함수호출에 빈소괄호를 쓴다

'hello'

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [20]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [24]:
a.lower()

"hi! everyone, i'm kim"

In [23]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable, 반복가능)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. String과 List, Tuple, Dictionary와 Set 등이 여기에 속한다.

In [25]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [31]:
'!'.join(word)

'배!고!파'

In [34]:
' '.join(words)
# list 를 글자열로 바꿀때 자주 사용

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.
count는 선택

- count 인자는 생략 가능

In [ ]:
# 아래에 코드를 작성하세요.

In [38]:
'hello!!!!'.replace('l', '1')

'he11o!!!!'

In [42]:
a = 'apple'
a.replace('p', '*')

'a**le'

In [52]:
a.replace('p', '*', 1)

'a*ple'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

- 공백제거에 주로 사용

In [ ]:
# 아래에 코드를 작성하세요.

In [55]:
a = '           1234'
print(a)

           1234

In [60]:
a = input('뭐라도 적어봐 : ')
a.strip()

뭐라도 적어봐 : d

'd'

In [63]:
print('       123        '.lstrip())
print('       123        '.rstrip())

123
       123

In [66]:
'hihihihihihihihihihihihihihihihehehohohhh'.strip('hi')

'ehehoho'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.
start, end를 이용해서 어디서부터 어디까지 검색할지 설정가능합니다.

- string에서만 가능하고 list에서는 사용이 불가

In [ ]:
# 아래에 코드를 작성하세요.

In [67]:
'apple'.find('p')

1

In [70]:
'apple'.find('z')
# 있으면 index숫자 없으면 '-1'로 도출

-1

In [71]:
'apple'.find('p', 3, 5)

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [72]:
'apple'.index('a')

0

In [73]:
'apple'.index('z')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [75]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [80]:
a = input('데이터를 입력해주세요 : ')
print(a.split(' '))

데이터를 입력해주세요 : 10 23412433 13213412312 4
['10', '23412433', '13213412312', '4']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha()알파벳, .isdecimal()10진수, .isdigit()특수문자, .isnumeric()숫자, .isspace()공백, .isupper(), .istitle(), .islower()
```

In [82]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
a = 'hello1'
a.isalpha()

False

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [88]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [89]:
cafe.append('angelinus')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angelinus']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [97]:
cafe.extend(['빽다방', 'twosome'])
print(cafe)
# 여러개를 한번에 넣을시 편리

['starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [93]:
cafe = cafe + ['mccafe', 'megacoffee']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee']

In [ ]:
# append와 비교해봅시다.

In [100]:
cafe.append(['cafebene'])
print(cafe)
# 한개의 값만을 넣을때 사용

['starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e', ['cafebene']]

In [98]:
cafe.append('coffee')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee']

In [99]:
cafe.extend('cafe')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [101]:
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e', ['cafebene']]

In [103]:
cafe.insert(-1, 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e', 'bye', 'bye', ['cafebene']]

In [104]:
cafe.insert(len(cafe), 'hey')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e', 'bye', 'bye', ['cafebene'], 'hey']

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [106]:
cafe.insert(len(cafe)+100, 'bye')
print(cafe)
# insert는 처음에 넣을때나 효율적이고 대개 append를 사용

['hi', 'starbucks', 'tomntoms', 'hollys', 'angelinus', '빽다방', 'twosome', 'mccafe', 'mccafe', 'megacoffee', 'mccafe', 'megacoffee', ['cafebene'], ['cafebene'], 'coffee', '빽다방', 'twosome', 'coffee', 'c', 'a', 'f', 'e', 'bye', 'bye', ['cafebene'], 'hey', 'bye', 'bye']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [108]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [109]:
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [110]:
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [112]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [113]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [114]:
print(a.pop(0))
# 0번째 숫자를 뽑아서 뽑은 숫자를 확인시켜줌
print(a)
# 원본데이터가 변환
# 괄호안 값을 설정하지 않으면 마지막위치의 값을 뽑는다.

1
[2, 3, 4, 5, 6]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [115]:
print(a)
delete_val = a.pop()
print(f'{delete_val}이 지워져서 {a}가 되었습니다.')

[2, 3, 4, 5, 6]
6이 지워져서 [2, 3, 4, 5]가 되었습니다.

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [117]:
numbers = list(range(1,46))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [119]:
numbers.clear()
print(numbers)

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [121]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [122]:
a.index(3)

2

In [123]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [126]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [127]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [129]:
for i in range(a.count(1)):
    a.remove(1)
print(a)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [130]:
print(a)

[2, 5, 5]

In [132]:
1 in a
# 1이 a안에 들어있뉘?

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [135]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)
print(sorted(lotto))
print(lotto)

[1, 37, 38, 12, 40, 39]
[1, 12, 37, 38, 39, 40]
[1, 37, 38, 12, 40, 39]

In [137]:
# sort() 를 사용해봅시다.
lotto.sort(reverse=True)
print(lotto)

[40, 39, 38, 37, 12, 1]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [138]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [139]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [2]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [3]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [4]:
copy_list[0] = 10
print(copy_list)
print(original_list)

[10, 2, 3]
[10, 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [5]:
print(id(original_list))
print(id(copy_list))

2324991730056
2324991730056

In [ ]:
# 숫자를 확인해봅시다.

In [6]:
a = 50000
b = a
b = 30000
print(a)

50000

In [ ]:
# 딕셔너리도 확인해봅시다.

In [7]:
a = {'사과': 'apple'}
b = a
b['사과'] = 'banana'
print(a)

{'사과': 'banana'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [8]:
a = [1, 2, 3]
b = a[:]
# slicing
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [9]:
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [10]:
a = [1, 2, 3, ['a', 'b']]
b = a[:]
b[3][0] = 'c'
print(a)
print(b)

[1, 2, 3, ['c', 'b']]
[1, 2, 3, ['c', 'b']]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [12]:
import copy

a = [1, 2, 3, ['a', 'b']]
b = copy.deepcopy(a)

[1, 2, 3, ['a', 'b']]
[1, 2, 3, ['a', 'b']]

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [13]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [16]:
h_list = []
for i in a:
    b = i ** 3
    h_list =+ b
print(h_list)

1000

In [18]:
# 강사님
cubic_list = []
for i in a:
    cubic_list.append(i**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [21]:
cubic_list = [i for i in range(1, 11)]
print(cubic_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
cubic_list = [i**3 for i in range(1, 11)]
print(cubic_list)
# 엄연히 따지면 for문을 먼저 실행하고 앞의 값을 계산하는 개념

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

- 한줄로 식을 여러개 적는 개념

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [26]:
s_list = []
for i in range(1, 11):
    if i % 2 == 0:
        s_list.append(i)
print(s_list)

[2, 4, 6, 8, 10]

In [27]:
# 강사님
even_list = []
for i in range(1, 11):
    if i % 2 == 1:
        pass
    else:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [29]:
even2_list = [i**3 for i in range(1, 11) if i % 2 == 0 ]
print(even2_list)

[8, 64, 216, 512, 1000]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [30]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [32]:
hop = []
for girl in girls:
    for boy in boys:
        hop.append((boy, girl))
print(hop)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [33]:
# 강사님
pair = []
for girl in girls:
    for boy in boys:
        pair.append((boy, girl))

print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [35]:
pair = [(boy, girl) for girl in girls for boy in boys]
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [39]:
result = []
for x in range(1, 50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
            
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [41]:
result = [(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [43]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [62]:
wkdma = ['a', 'e', 'i', 'o', 'u']
result = []
for word in words:
    if word not in wkdma:
        result.append(word)
#     elif word == ' ':
#         pass
final = list(result)
print(''.join(final))
# 내부의 개별적인 string을 합쳐주는데 join을 사용했음

Lf s t shrt, y nd pythn!

In [57]:
# 강사님
vowels = 'aeiou'
result = []
for word in words:
    if word not in vowels:
        result.append(word)
print(''.join(result))

Lf s t shrt, y nd pythn!

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [58]:
vowels = 'aeiou'
result = [word for word in words if word not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [70]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [71]:
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [65]:
my_dict.pop('melon')
print(my_dict)

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [75]:
my_dict.pop('melon', 'None')

'None'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [77]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [78]:
my_dict.update(apple='솨가아아아아')
print(my_dict)

{'apple': '솨가아아아아', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [79]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [83]:
# my_dict['apple'] 이랑 같은것
print(my_dict.get('apple'))

print(my_dict.get('pineapple'))
# get을 사용하면 값이 없어도 error가 일어나지 않음

print(my_dict.get('pineapple', '없다'))

사과
None
없다

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [84]:
cubic_dict = {i: i**3 for i in range(1, 11)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### Dictionary comprehension 사용해보기

In [87]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [94]:
dusts_dict = {j: i for i in dusts.values() if i>80 for j in i.keys()}

AttributeError: 'int' object has no attribute 'keys'

In [105]:
dusts_dict = {dust: dusts[dust] for dust in dusts if dusts[dust]>80}
print(dusts_dict)

{'대전': 82, '중국': 200}

In [110]:
# 강사님
result = {key: val for key, val in dusts.items() if val>80}
print(result)

{'대전': 82, '중국': 200}

In [111]:
# 강사님 
result = {}
for key,val in dusts.items():
    if val > 80:
        result[key] = val
        
print(result)

{'대전': 82, '중국': 200}

In [109]:
result = {}

for i in dusts.values():
    if i > 80:
        for j in dusts.keys():
            result.append(i, j)
            
print(result)

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [114]:
result = {key: '나쁨' if val > 80 else '보통' for key,val in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [118]:
result = {key: '매우나쁨' if val>150 else '나쁨' if val>80 else '보통' if val>50 else '좋음' for key,val in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '좋음', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다. 
- 들어가는 순서가 랜덤

In [119]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [120]:
a.add('포도')
print(a)

{'바나나', '포도', '사과', '수박'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [134]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [135]:
a.update('포도')
print(a)

{'포', '도', '사과', '바나나', '수박'}

In [132]:
a.update(['포도', '딸기'])
print(a)

{'포도', '사과', '바나나', '딸기', '수박'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [136]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [137]:
a.remove('포도')
print(a)

KeyError: '포도'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [138]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [139]:
a.discard('멜론')
print(a)

{'바나나', '사과', '수박'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [189]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [193]:
a.pop()

'수박'

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [ ]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
# map

In [ ]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [ ]:
# map

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
list(zip(girls, boys))

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [ ]:
# zip

In [ ]:
# 다른 예시도 알아봅시다.

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 홀수인지 판단하는 코드를 작성하세요.

In [ ]:
# 다음의 list comprehension과 동일하다.